<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HJPresentListView-master.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>303D4E6A1C33CBA700E0A8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>303D4E831C33CBA700E0A8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>303D4E8E1C33CBA700E0A8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
